main {
    color: #22313f;
    font-family: 'Oswald', sans-serif;
}

#reactor-container {
    left: 35%;
    position: relative;
}

ul {
    list-style-type: none;
}

.input1{
	position: fixed;
    bottom: 0%;
    right: 5%;
    margin-bottom: 5%;
    width: 400px;
    height: 80%;
    overflow: auto;

    
}

.input2{
	position: fixed;
    bottom: 10%;
    right: 35%;

    
}

.type{
	text-align: left;
}
